/* import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

.App {
  align-items: center;
  justify-content: center;
}

body {
  background-color: rgb(103 232 249);
}

/* Style the title */
.title h1 {
  color: #3a3a3a;
  text-align: center;
  margin: 30px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

/* Style the form */
form {
  max-width: 500px;
  margin: 0 auto;
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 1px 2px 10px #ddd;
}

.form-search{
  display: flex;
  flex-direction: column;
}

.container-search{
  display: flex;
}

form h3 {
  text-align: center;
}

form input {
  width: 100%;
  padding: 10px 5px;
  outline: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

/* Style the button Add new task */
.input_container {
  margin-bottom: 20px;
}

.btn_container {
  text-align: center;
  margin-bottom: 10px;
}

.btn_container button {
  background-color: rgb(20 184 166);
  color: white;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.btn_container button:hover{
  background-color: rgb(96, 185, 175);
}

/* Style Button Search */
.btn_container_search {
  text-align: center;
  margin-bottom: 10px;
}

.btn_container_search button {
  background-color: rgb(20 184 166);
  color: white;
  padding: 10px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.btn_container_search button:hover{
  background-color: rgb(96, 185, 175);
}

/* Style Button All, Done, and Todo */
.FilterButton{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.btn_container_filter {
  text-align: center;
}
.btn_container_filter button {
  background-color: rgb(20 184 166);
  color: white;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.btn_container_filter button:hover{
  background-color: rgb(96, 185, 175);
}

/* Style Button Delete */
.DeletedButton{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.btn_container_delete {
  text-align: center;
  margin-bottom: 10px;
}

.btn_container_delete button {
  background-color: rgb(220 38 38);
  color: white;
  padding: 10px 100px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.btn_container_delete button:hover{
  background-color: rgb(224, 75, 75);
}

/* Style list of todo */
.todo_container {
  width: 80%;
  margin: 0 auto;
}

.todo {
  margin-top: 20px;
  background: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 2px 10px #ddd;
}

.todo input {
  cursor: pointer;
  width: 80%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.container-action{
  display: flex;
}

/* Style the icon checklist,edit,and delete of list todo */
.button-delete,
.button-edit {
  border: none;
  margin-left: 5px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
}

#i {
  font-size: 35px;
}

.button-complete {
  color: #95faa3;
  margin-right: 10px;
}

.button-edit {
  color: #56cfff;
  margin-right: 10px;
}

.button-delete {
  color: rgb(255, 122, 98);
}

.input-checkbox{
  margin-right: 20px;
  width: 50px;
}

/* Add the responsive in the delete button */
@media screen and (max-width: 667px) {
  .task_container {
    width: 90%;
  }
  .task {
    margin-right: 0px;
  }
}

@media (max-width: 600px) {
  .DeletedButton {
    flex-direction: column;
  }
}
  
input:focus,
button:focus {
  outline: none;
}